/*fonts
====================*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");
*,
*:after,
*:before,
*:focus,
*:hover {
  box-shadow: unset !important;
  outline: 0 !important;
}

/*body
===========================*/
body {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #252829;
}

/* Links
==========================*/
a,
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}

input:focus,
button:focus {
  outline: none;
}

/* Headings
========================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  margin: 0;
  font-family: "Din-Medium";
}

p {
  margin: 0;
}

.text-light {
  font-family: "Din-Regular" !important;
}

.text-bold {
  font-family: "Din-Medium" !important;
}

/*Lists
==========================*/
ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

/*class
==================*/
.first_navbar {
  margin: 25px 0;
}
.first_navbar .items {
  display: flex;
  justify-content: space-between;
}
.first_navbar .items .left {
  position: relative;
}
.first_navbar .items .left i {
  position: absolute;
  position: absolute;
  right: 10px;
  top: 40%;
  line-height: 50%;
}
.first_navbar .items .left input {
  padding: 10px;
  box-sizing: border-box;
  height: 40px;
  width: 469px;
  border: 1px solid rgba(26, 25, 25, 0.3);
  border-radius: 4px;
}
.first_navbar .items .right {
  display: flex;
  align-items: center;
}
.first_navbar .items .right .login {
  height: 40px;
  width: 139px;
  border-radius: 4px;
  background-color: #ebe9e9;
  text-align: center;
  line-height: 40px;
  color: #000000;
  font-size: 12px;
  font-weight: 500;
}
.first_navbar .items .right .login i {
  margin-right: 3px;
}
.first_navbar .items .right .shopping-cart {
  margin-left: 12px;
  height: 40px;
  width: 44px;
  opacity: 0.2;
  border-radius: 4px;
  background-color: #af9751;
  text-align: center;
  line-height: 40px;
}

.navbar {
  margin-bottom: 25px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.navbar li a {
  color: #000000 !important;
  font-size: 13px !important;
  font-weight: 500 !important;
}
.navbar .america-flag {
  color: #1a1919;
  font-size: 12px;
  font-weight: bold;
}

.header .breadcrumb-item + .breadcrumb-item::before {
  content: ">" !important;
  color: #000 !important;
  font-size: 15px !important;
}
.header .active {
  color: #af9751 !important;
  font-family: Helvetica;
  font-size: 13px;
}
.header .video {
  margin-top: 25px;
}
.header .video video {
  width: 100%;
}
.header .right-header h2 {
  color: #414241;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 5px;
}
.header .right-header .main-content {
  margin-bottom: 15px;
  color: #414241;
  font-size: 14px;
}
.header .right-header .items {
  display: flex;
}
.header .right-header .items .items1 {
  margin-right: 20px;
}
.header .right-header .items .items2 {
  color: #414241;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: bold;
}
.header .right-header .line {
  height: 1px;
  border: 1px solid #af9751;
  opacity: 0.5;
  transform: scaleX(-1);
  margin-top: 10px;
  margin-bottom: 15px;
}
.header .right-header .avilable-color {
  margin-top: 20px;
}
.header .right-header .avilable-color h4 {
  margin-bottom: 10px;
  color: #414241;
  font-family: Helvetica;
  font-size: 13px;
  font-weight: bold;
}
.header .right-header .avilable-color h5 {
  color: #414241;
  font-family: Helvetica;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 10px;
}
.header .right-header .avilable-color .items {
  display: flex;
  align-items: center;
}
.header .right-header .avilable-color .items p {
  color: #414241;
  font-family: Helvetica;
  font-size: 11px;
  text-align: center;
  margin-top: 3px;
}
.header .right-header .avilable-color .items .item1 {
  margin-right: 25px;
}
.header .right-header .avilable-color .items .item1 .correct {
  box-sizing: border-box;
  height: 34px;
  width: 41px;
  border: 3px solid #ab9058;
  border-radius: 2px;
  background-color: #ffffff;
  text-align: center;
  line-height: 32px;
}
.header .right-header .avilable-color .items .item1 .correct i {
  color: #ab9058;
}
.header .right-header .avilable-color .items .item2 .box {
  height: 34px;
  width: 35px;
  border-radius: 2px;
  background-color: #e2c5b0;
}
.header .right-header .avilable-color .item3 {
  margin-top: 10px;
}
.header .right-header .avilable-color .item3 .form-select {
  box-sizing: border-box;
  height: 36px;
  width: 178px;
  border: 1px solid #d9c5a2;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 11px;
}
.header .right-header .avilable-color .item4 h5 {
  margin-top: 10px;
}
.header .right-header .avilable-color .item4 p {
  margin-top: 10px;
  color: #1a1919;
  font-family: Helvetica;
  font-size: 12px;
}
.header .right-header .avilable-color .item4 button {
  height: 62px;
  width: 270px;
  border-radius: 2px;
  background-color: #ab9058;
  border: 1px solid #ab9058;
  color: #ffffff;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.header .right-header .avilable-color .item5 h5 {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.header .right-header .avilable-color .item5 h5 a {
  width: 100%;
}
.header .right-header .avilable-color .item5 h5 span {
  font-size: 15px;
  color: #000;
}
.header .right-header .avilable-color .item5 h5 a.collapsed + span {
  font-size: 0;
}
.header .right-header .avilable-color .item5 h5 a.collapsed + span:after {
  content: "+";
  font-size: 15px;
}
.header .right-header .avilable-color .item5 h5 i {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translatey(-50%);
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
.header .right-header .avilable-color .item5 .card {
  border: none !important;
  margin-top: -15px;
  margin-left: -7px;
  background-color: unset !important;
}
.header .right-header .avilable-color .item5 .card-body li {
  color: #414241;
  font-family: Helvetica;
  font-size: 14px;
  position: relative;
}
.header .right-header .avilable-color .item5 .card-body li::before {
  position: absolute;
  content: "";
  height: 6px;
  width: 6px;
  background-color: #af9751;
  border-radius: 50%;
  top: 7px;
  left: -10px;
}
.header .right-header .avilable-color .item6 h6 {
  margin-bottom: 10px;
}
.header .right-header .avilable-color .item6 .content {
  display: flex;
}
.header .right-header .avilable-color .item6 .content .images {
  margin-right: 9px;
}
.header .right-header .avilable-color .item6 .content button {
  height: 31px;
  width: 140px;
  border: 1px solid #ab9058;
  color: #ffffff;
  background-color: #ab9058;
}
.header .right-header .avilable-color .item6 ul {
  margin-top: 10px;
}
.header .right-header .avilable-color .item6 ul li span {
  color: #ab9058;
}
.header .right-header .avilable-color .item6 ul li input {
  height: 13px;
  width: 13px;
  background-color: #000;
  color: #fff;
  font-size: 9px;
  text-align: center;
  line-height: 13px;
  margin-right: 5px;
  border: 1px solid #000;
}

.more-tubs {
  margin-top: 60px;
}
.more-tubs .card {
  margin-bottom: 25px;
}

.product-review {
  text-align: center;
  margin-top: 50px;
  width: 100%;
  background-color: #ab9058;
  padding-bottom: 40px;
}
.product-review .header {
  text-align: center;
}
.product-review .header span {
  color: #63001e;
  font-family: "Hiragino Mincho ProN";
  font-size: 140px;
}
.product-review .header p {
  margin-top: -88px;
  color: #ffffff;
  font-family: Ubuntu;
  font-size: 12px;
}
.product-review .header h5 {
  color: #000104;
  font-family: Ubuntu;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 32px;
}
.product-review .mask {
  width: 100%;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(105, 87, 50, 0.2);
  margin: auto;
  padding-bottom: 20px;
  max-width: 750px;
}
.product-review .mask h5 {
  color: #121212;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: bold;
  padding-top: 30px;
  text-transform: uppercase;
}
.product-review .mask .items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
.product-review .mask .items .rate h6 {
  color: #000000;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: bold;
}
.product-review .mask .items .rate i {
  height: 20px;
  width: 21px;
  color: #af9751;
}
.product-review .mask .items .progress_bar {
  margin-left: 50px;
}
.product-review .mask .items .progress_bar .progress {
  position: relative;
  margin-bottom: 5px;
  height: 5px;
  width: 90px;
}
.product-review .mask .items .progress_bar .progress .star-count {
  top: -7px;
  position: absolute;
  left: -42px;
}
.product-review .mask .items .progress_bar .progress .progress_persentage {
  position: absolute;
  right: -25px;
  top: -5px;
}
.product-review .mask .items .progress_bar .progress .progress-bar {
  background-color: #ab9058 !important;
}
.product-review .mask button {
  height: 37px;
  width: 174px;
  border-radius: 2px;
  background-color: #000000;
  color: #ffffff;
  font-family: Helvetica;
  font-size: 13px;
  font-weight: bold;
  border: 1px solid #000;
  margin-top: 20px;
}
.product-review .mask .line {
  height: 1px;
  width: 100%;
  background-color: #efeadc;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 20px;
}
.product-review .mask .person_review {
  margin-left: 60px;
}
.product-review .mask .person_review .item {
  display: flex;
  align-items: center;
}
.product-review .mask .person_review .item img {
  border-radius: 50%;
}
.product-review .mask .person_review .item .content {
  margin-top: -25px;
  margin-left: 5px;
  text-align: left;
}
.product-review .mask .person_review .item .content .item-stars {
  margin-left: 5px;
}
.product-review .mask .person_review .item .content .item-stars i {
  color: #ab9058;
}
.product-review .mask .person_review .item .content h5 {
  color: #000000;
  font-family: Helvetica;
  font-size: 11px;
  font-weight: bold;
  display: inline-block;
}
.product-review .mask .person_review p {
  text-align: left;
}

footer {
  width: 100%;
  background-color: #000104;
}
footer .header {
  text-align: center;
  color: #ffffff;
  padding-top: 60px;
  padding-bottom: 40px;
}
footer .header p {
  font-family: Helvetica;
  font-size: 24px;
}
footer .header h4 {
  font-family: Ubuntu;
  font-size: 42px;
  font-weight: bold;
}
footer .card {
  background-color: unset !important;
  margin-bottom: 3px;
}
footer .card p {
  color: #ffffff;
  font-family: Helvetica;
  font-size: 18px;
}
footer .card span {
  color: #ffffff;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: bold;
}
footer .underLine {
  height: 1px;
  width: 38px;
  border: 1px solid #af9751;
  background-color: #af9751;
}
footer .menue {
  margin-top: 100px;
  padding-bottom: 20px;
}
footer .menue .item {
  margin: 0 0 0 45px;
  width: 100%;
}
footer .menue .item h6 {
  color: #ffffff;
  font-family: Ubuntu;
  font-size: 12px;
  font-weight: bold;
}
footer .menue .item p,
footer .menue .item span {
  color: #ffffff;
  font-family: Ubuntu;
  font-size: 13px;
}
footer .menue .item .submit {
  position: relative;
}
footer .menue .item .submit input {
  height: 40px;
  width: 296px;
  border-radius: 4px;
  background-color: rgba(203, 201, 204, 0.1);
  border: 1px solid #000;
  padding: 14px;
  position: absolute;
}
footer .menue .item .submit span {
  position: absolute;
  right: -140px;
  top: 2%;
  padding: 9px 11px;
  border-radius: 4px;
  background-color: #af9751;
}
footer .menue .item .social-media {
  text-align: right;
}
footer .menue .item .social-media img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  margin-top: 10px;
}
footer .line {
  height: 1px;
  width: 100%;
  opacity: 0.1;
  background-color: #af9751;
  margin-top: 35px;
}
footer .copy-rights .content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  color: #ffffff;
  font-family: Tajawal;
  font-size: 12px;
  opacity: 0.3;
}

/*# sourceMappingURL=style.css.map */
