$main_color: #ad9752;
$black_color: #000000;
$gray: #616161;

@import "partial/_general";
@import "partial/_first-navbar";
@import "partial/_second-navbar";
@import "partial/_header";
@import "partial/_more-tubs";
@import "partial/_product-review";
