@charset "UTF-8";
/*fonts
====================*/

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");

*,
*:after,
*:before,
*:focus,
*:hover {
  box-shadow: unset !important;
  outline: 0 !important;
}
/*body
===========================*/
body {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #252829;
}

/* Links
==========================*/
a,
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}

input:focus,
button:focus {
  outline: none;
}

/* Headings
========================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  margin: 0;
  font-family: "Din-Medium";
}

p {
  margin: 0;
}

.text-light {
  font-family: "Din-Regular" !important;
}
.text-bold {
  font-family: "Din-Medium" !important;
}
/*Lists
==========================*/
ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

/*class
==================*/
