.header {
  .breadcrumb-item + .breadcrumb-item::before {
    content: ">" !important;
    color: #000 !important;
    font-size: 15px !important;
  }
  .active {
    color: #af9751 !important;
    font-family: Helvetica;
    font-size: 13px;
  }
  .video {
    margin-top: 25px;
    video {
      width: 100%;
    }
  }
  .right-header {
    h2 {
      color: #414241;
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 5px;
    }
    .main-content {
      margin-bottom: 15px;
      color: #414241;
      font-size: 14px;
    }
    .items {
      display: flex;
      .items1 {
        margin-right: 20px;
      }
      .items2 {
        color: #414241;
        font-family: Helvetica;
        font-size: 14px;
        font-weight: bold;
      }
    }
    .line {
      height: 1px;
      border: 1px solid #af9751;
      opacity: 0.5;
      transform: scaleX(-1);
      margin-top: 10px;
      margin-bottom: 15px;
    }
    .avilable-color {
      margin-top: 20px;
      h4 {
        margin-bottom: 10px;
        color: #414241;
        font-family: Helvetica;
        font-size: 13px;
        font-weight: bold;
      }
      h5 {
        color: #414241;
        font-family: Helvetica;
        font-size: 13px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      .items {
        display: flex;
        align-items: center;
        p {
          color: #414241;
          font-family: Helvetica;
          font-size: 11px;
          text-align: center;
          margin-top: 3px;
        }
        .item1 {
          margin-right: 25px;
          .correct {
            box-sizing: border-box;
            height: 34px;
            width: 41px;
            border: 3px solid #ab9058;
            border-radius: 2px;
            background-color: #ffffff;
            text-align: center;
            line-height: 32px;
            i {
              color: #ab9058;
            }
          }
        }
        .item2 {
          .box {
            height: 34px;
            width: 35px;
            border-radius: 2px;
            background-color: #e2c5b0;
          }
        }
      }
      .item3 {
        margin-top: 10px;

        .form-select {
          box-sizing: border-box;
          height: 36px;
          width: 178px;
          border: 1px solid #d9c5a2;
          border-radius: 5px;
          background-color: #ffffff;
          font-size: 11px;
        }
      }
      .item4 {
        h5 {
          margin-top: 10px;
        }
        p {
          margin-top: 10px;
          color: #1a1919;
          font-family: Helvetica;
          font-size: 12px;
        }
        button {
          height: 62px;
          width: 270px;
          border-radius: 2px;
          background-color: #ab9058;
          border: 1px solid #ab9058;
          color: #ffffff;
          font-family: Helvetica;
          font-size: 20px;
          font-weight: bold;
          text-align: center;
        }
      }
      .item5 {
        h5 {
          position: relative;
          i {
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translatey(-50%);
            font-size: 20px;
            transition: all 0.3s ease-in-out;
          }
          //   &.collapsed {
          //     background-color: $black;
          //     i {
          //       transform: translatey(-50%) rotate(180deg);
          //     }
          // }
        }
        .card {
          border: none !important;
          margin-top: -15px;
          margin-left: -7px;
          background-color: unset !important;
        }
        .card-body {
          li {
            color: #414241;
            font-family: Helvetica;
            font-size: 14px;
            position: relative;
          }
          li::before {
            position: absolute;
            content: "";
            height: 6px;
            width: 6px;
            background-color: #af9751;
            border-radius: 50%;
            top: 7px;
            left: -10px;
          }
        }
      }
      .item6 {
        h6 {
          margin-bottom: 10px;
        }
        .content {
          display: flex;
          .images {
            margin-right: 9px;
          }
          button {
            height: 31px;
            width: 140px;
            border: 1px solid #ab9058;
            color: #ffffff;
            background-color: #ab9058;
          }
        }
        ul {
          margin-top: 10px;
          li {
            span {
              color: #ab9058;
            }
            i {
              height: 13px;
              width: 13px;
              background-color: #000;
              color: #fff;
              font-size: 9px;
              text-align: center;
              line-height: 13px;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}
