.product-review {
  text-align: center;
  margin-top: 50px;
  width: 100%;
  background-color: #ab9058;
  padding-bottom: 40px;
  .header {
    text-align: center;
    span {
      color: #63001e;
      font-family: "Hiragino Mincho ProN";
      font-size: 140px;
    }
    p {
      margin-top: -88px;
      color: #ffffff;
      font-family: Ubuntu;
      font-size: 12px;
    }
    h5 {
      color: #000104;
      font-family: Ubuntu;
      font-size: 30px;
      font-weight: 500;
      margin-bottom: 32px;
    }
  }
  .mask {
    width: 100%;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(105, 87, 50, 0.2);
    margin: auto;
    padding-bottom: 20px;
    max-width: 750px;
    h5 {
      color: #121212;
      font-family: Helvetica;
      font-size: 16px;
      font-weight: bold;
      padding-top: 30px;
      text-transform: uppercase;
    }
    .items {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 35px;
      .rate {
        h6 {
          color: #000000;
          font-family: Ubuntu;
          font-size: 14px;
          font-weight: bold;
        }
        i {
          height: 20px;
          width: 21px;
          color: #af9751;
        }
      }
      .progress_bar {
        margin-left: 50px;
        .progress {
          position: relative;
          margin-bottom: 5px;
          height: 5px;
          width: 90px;

          .star-count {
            top: -7px;
            position: absolute;
            left: -42px;
          }
          .progress_persentage {
            position: absolute;
            right: -25px;
            top: -5px;
          }
          .progress-bar {
            background-color: #ab9058 !important;
          }
        }
      }
    }
    button {
      height: 37px;
      width: 174px;
      border-radius: 2px;
      background-color: #000000;
      color: #ffffff;
      font-family: Helvetica;
      font-size: 13px;
      font-weight: bold;
      border: 1px solid #000;
      margin-top: 20px;
    }
    .line {
      height: 1px;
      width: 100%;
      background-color: #efeadc;
      margin: auto;
      margin-top: 15px;
      margin-bottom: 20px;
    }
    .person_review {
      margin-left: 60px;
      .item {
        display: flex;
        align-items: center;
        img {
          border-radius: 50%;
        }
        .content {
          margin-top: -25px;
          margin-left: 5px;
          text-align: left;
          .item-stars {
            margin-left: 5px;
            i {
              color: #ab9058;
            }
          }
          h5 {
            color: #000000;
            font-family: Helvetica;
            font-size: 11px;
            font-weight: bold;
            display: inline-block;
          }
        }
      }
      p {
        text-align: left;
      }
    }
  }
}
