.navbar {
  margin-bottom: 25px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  li a {
    color: #000000 !important;
    font-size: 13px !important;
    font-weight: 500 !important;
  }
  .america-flag {
    color: #1a1919;
    font-size: 12px;
    font-weight: bold;
  }
}
